
@font-face { font-family: 'a_LCDNova';  src: url('../fonts/0122a1624fbf20f49bd0c3dc453efb09.woff') format('woff'); }

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.value,
.label {
  display: block;
}

.value {
  text-align: center;
  font-size: 70px;
  font-family: 'a_LCDNova', sans-serif;
}
.label {
text-align: center;
font-size: 30px;
}
